.footer-main {
  background-color: #393a3a4d;
  font-family: Poppins;
  width: 100%;
}

.footer-main .ft_main {
  display: flex;
  gap: 25px;
  height: 100%;
  margin-top: 10rem;
  padding-bottom: 30px;
  color: #ffffff;
  list-style: none;
  font-family: sans-serif;
  justify-content: space-around;
}

.ft_main h2 {
  padding: 5px 0;
}

.ft_logo {
  display: block;
}
.ft_logo2 {
  display: block;
}

.ft_logo img {
  width: 290px;
  height: 200px;
  margin-left: -40px;
  margin-top: 3rem;
}

.ft_logo2 img {
  width: 120px;
  height: 120px;
  border-radius: 5px;
  margin: 10px 10px;
}

.txt_logo img {
  width: 170px;
  height: 40px;
}

.tech_list h2 {
  color: orange;
  margin-top: 3rem;
  padding-bottom: 30px;
}

.social_icon {
  display: flex;
  justify-content: space-evenly;
  font-size: 45px;
  gap: 20px;
  color: white;
}

/* .tech_list .social_icon {
  color: #3e48f9;
} */

/* .tech_list ul li:hover {
  padding-left: 8px;
  border-inline-start-width: 3px;
  border-inline-start-style: solid;
  border-inline-start-color: pink;
} */

.non_tech_list h2 {
  color: orange;
  margin-top: 3rem;
  padding-bottom: 30px;
}
.non_tech_list p {
  line-height: 25px;
  align-items: center;
  justify-content: center;
}

.non_tech_list ul li {
  padding: 5px 0;
}
.non_tech_list ul li:hover {
  padding-left: 8px;
  border-inline-start-width: 3px;
  border-inline-start-style: solid;
  border-inline-start-color: pink;
}

.cpright {
  text-align: center;
  padding: 10px 0;
  width: 100%;
  margin: auto;
  background-color: #ffffff;

  /* border-image: linear-gradient(45deg, #cb3cf6, #3e48f9, #8834a1) 30;
  border-style: solid; */
  margin-bottom: 20px;
}
.cpright .copyright {
  color: #00161b;
  font-size: 14px;
  font-weight: 600;
}

.ft_links ul li {
  padding-bottom: 15px;
  margin: 3px 0px;
  font-weight: 600;
}
.ft_links h2 {
  color: orange;
  margin-top: 3rem;
  padding-bottom: 30px;
}

.container h2 {
  /* margin-left: 39%; */
  margin-top: 0px;
  font-size: 40px;
  text-align: center;
  justify-content: center;
  justify-items: center;
  padding-bottom: 2rem;
  border-radius: 10px;
}
/*  */
.footer-basic {
  padding: 50px 0px;
  background-color: #00161b;
  color: white;
}

.footer-basic ul {
  list-style: none;
  text-align: center;
  font-size: 19px;
  /* font-weight: 400; */
  line-height: 1.6;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-basic li {
  padding: 0 15px;
}

.footer-basic ul a {
  color: inherit;
  font-weight: 600;
  text-decoration: none;
  opacity: 1;
}

.footer-basic ul a:hover {
  opacity: 1;
  color: rgb(231, 197, 5);
  text-decoration: none;
}

.footer-basic .social {
  text-align: center;
  justify-content: center;
  justify-items: center;
  padding-bottom: 40px;
  margin-top: 0px;
}

.footer-basic .social > a {
  font-size: 25px;
  width: 50px;
  height: 50px;
  line-height: 48px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0);
  margin: 0 10px;
  color: red;
  /* opacity:0.75; */
}

.footer-basic .social > a:hover {
  opacity: 1;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}
/* 
.footer-basic .copyright {
  margin-top: 35px;
  text-align: center;
  font-size: 17px;
  margin-bottom: 0;
  font-weight: 500;
} */

/* .cpright {
  background-color: rgb(0, 0, 0);
  height: 50px;
  margin-bottom: -3rem;
  color: #ffffff;
} */
/* .cpright .copyright {
  color: rgb(255, 255, 255);
  font-size: 14px;
  padding-top: 0.9rem;
  justify-content: center;
  align-content: center;
  justify-items: center;
} */

@media screen and (max-width: 730px) {
  .ft_main {
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
    padding-bottom: 30px;
    list-style: none;
    font-family: sans-serif;
  }
  .container h2 {
    /* margin-left: 39%; */
    margin-top: 0px;
    font-size: 25px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    padding-bottom: 2rem;
    border-radius: 10px;
  }
  .footer-basic ul a {
    color: inherit;
    font-weight: 400;
    text-decoration: none;
    opacity: 1;
    font-size: 16px;
  }
  .copyright {
    text-align: center;
    justify-items: center;
    justify-content: center;
    font-size: 14px;
    margin-top: 20px;
  }
  .non_tech_list h2 {
    text-align: center;
    color: orange;
    margin: 0px;
  }
  .social_icon {
    margin-top: 30px;
  }
  .non_tech_list p {
    font-size: 15px;
    text-align: center;
  }
  .ft_logo2 img {
    margin: 13px 110px;
  }
  .ft_logo img {
    margin-top: 2rem;
    margin-left: 0px;
    margin-bottom: 0px;
  }
}
